.app-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
  
.loading {
  padding: 1rem 2rem;
  background-color: rgba(22, 33, 62, 0.8);
  color: white;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
  @media (max-width: 768px) {
    .canvas-container {
      position: sticky;
      top: 0;
      width: 100%;
      height: 50vh;
    }
  }


a,a:visited {
  border-radius: 1em;
  text-decoration: none
}

button {
  border: none;
  border-radius: .3em;
  color: #000000e6;
  cursor: pointer;
  font-size: inherit;
  padding: .4em;
  pointer-events: all
}

video {
  height: auto;
  max-width: 100%
}

@media screen and (max-width: 900px) {
  .hide-on-mobile {
      display:none
  }
}

.soft-box-shadow {
  box-shadow: 0 2px 15px #02022b33
}


a,body,button {
  font-family: Nunito Sans,sans-serif
}



needle-engine {
  display: block;
  height: 100vh;
  margin: 0;
  width: 100%;
  -webkit-tap-highlight-color: transparent
}

needle-engine,needle-engine canvas {
  position: absolute
}

needle-engine .ar>*,needle-engine .desktop>*,needle-engine .vr>* {
  pointer-events: auto!important
}

needle-engine .quit-ar {
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
  font-size: 2em;
  min-height: 10%;
  min-width: 30%;
  pointer-events: auto!important;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10
}

needle-engine .loading {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 50
}

needle-engine .webxr-buttons {
  align-items: flex-start;
  bottom: 21px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  left: 50%;
  position: fixed;
  transform: translate(-50%)
}

needle-engine .webxr-button:disabled {
  opacity: .5!important;
  transform: none
}

needle-engine.presentation-mode .hide-in-presentation {
  display: none!important
}

.room-loading-progress {
  background: none!important
}

needle-engine canvas {
  touch-action: pan-y!important
}
